<%-include head2%>
<div class="container-fluid row top">
    <div><%=user%></div>
    <div><%= success %></div>
    <div><%= error %> </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="form-signin-heading">现在就加入TWITTER</h2>
        <form class="form-signin" method="POST" action="reg1" >
            <label for="name" class="sr-only">全名</label>
            <input type="txt" name="name" class="form-control" placeholder="全名" required autofocus>
            <input type="email" name"email" class="form-control mar1" placeholder="邮箱地址" required autofocus>
            <label for="Password" class="sr-only">密码</label>
            <input type="password" name="password" class="form-control" placeholder="密码" required>
            <label for="Password2" class="sr-only">确认密码</label>
            <input type="password" name="password2" class="form-control" placeholder="确认密码" required>
            <div class="mar1">基于我最近访问的网站来定制 Twitter。<a href="#" target="_blank">了解更多</a></div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
        <div class="mar1">
            <p>注册意味着你同意<a href="#" target="_blank">服务条款</a>与<a href="#" target="_blank">隐私政策</a>，包括 <a href="#" target="_blank">Cookie 使用条款</a>。其他用户将可以通过你所提供的邮件地址或手机号码找到你。<a href="#" role="menu" aria-haspopup="true">高级选项</a> </p></div>
    </div>
    <div class="col-md-4"></div>
</div>
<%-include footer%>
